<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "_line_item.html" %>
<% @cart.line_items.each do |item| %>
  <% if line_item == @current_item %>
<tr id= "current_item">
<% else %>
<tr>
<% end %>
  <div style="float: left;"><%= line_item.quantity %> &times; </div>
  <div style="float: left;"> <%= line_item.product.title %></div>
  <div style="float:right;"><%= number_to_currency(line_item.total_price) %></div>
<% end %>
</tr>